.upperDots{
    transform: scale(-1);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -10;
}
.lowerDots{
    position: absolute;
    bottom: 10px;
    right: 10px; 
    z-index: -10;
}
.buttonsWrapper{
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    margin: 0 85px;
    z-index: 5;
}
.center{
    text-align: center !important;
}
.content{
    z-index: -100;
}
