.finish{
    font-size: 50px;
    color: #d0b7f9;
    margin-bottom: 100px;
}
.finish span{
    color: #F0A60C;
}
.img{
    width: 28px;
}
.leaderboard-container{
    display: flex;
    flex-direction: row;
    margin-left : 0px;
    align-items: center;
    justify-content: center;
}
.card.player{
    max-width: 20%;
    padding : 30px 60px;
    color:#F0A60C;
    margin: 0px;
    margin: auto;
    font-style: italic;
    align-items: center;
    cursor:default;
    font-weight: 600;
    background-image: none;
    background-color: rgba(207, 283, 249, 0.32);
}
.buttons.finish{
    margin-top: 0px;
    padding: 0px;
}