.card-container{
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}
.card{
    text-align: center;
    padding: 60px 20px;
    margin: 100px 10px;
    border-radius: 15px;
    box-shadow: 0 5px 20px lightblue;
    cursor: pointer;
}
.no-render{
    background-color: lightgray;
    box-shadow: 0 5px 20px lightgray;
    cursor: default;
}
.top-text{
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
}