.card-container{
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    /* row-gap: 10px;
    column-gap: 10px; */
}
.card{
    text-align: center;
    padding: 60px 20px;
    margin: 100px 10px;
    border-radius: 15px;
    /* background-color: lightgray; */
    box-shadow: 0 5px 20px lightblue;
    cursor: pointer;
}
.top-thinggy{
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
}