.raspunsuriWrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px;
    margin-top: 30px;
    z-index: 10;
    row-gap: 10px;
}
.raspuns{
    text-align: center;
    font-size: 30px;
    color: #D0B7F9;
    padding: 60px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 5px;
    background-image: linear-gradient(to left, #6D1576 , #330066);
    z-index: 10;
}
.intrebare{
    text-align: center;
    font-size: 30px;
    color: #D0B7F9;
    padding: 60px 20px;
    margin: 10px;
    z-index: 10;
}
.points{
    max-width: 20%;
    margin: 30px auto;
    color: #F0A60C;
}