.rules{
    margin-top: 35px;
}
.rules-title{
    color: #F0A60C;
    font-size: 50px;
    text-align: center;
    padding: 30px 0;
}
.rules-content{
    color: #D0B7F9;
    font-size: 20px;
    text-align: left;
    padding: 30px;
}
.rules-content-header{
    color: #F0A60C;
    font-size: 20px;
    text-align: left;
}
.rules-back{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    max-width: 20%;
    text-decoration: none;
}