form{
    max-width: 40%;
    margin: auto;
}
input{
    display: block;
}
input[type="submit"]{
    text-decoration: none;
    padding: 20px 50px;
    background-image: linear-gradient(to left, #6D1576 , #330066);
    color: #D0B7F9;
    font-size: 50px;
    border-radius: 10px;
    border: none;
    margin: auto;
}
input[type="submit"]:hover{

    cursor: pointer;
}
input[type="text"]{
    border-radius: 10px;
    width: 100%;
    font-size: 50px;
    text-align: center;
    padding: 0;
    margin-top: 150px;
    margin-bottom: 50px;
}
.centered{

    margin-top: 100px;
}